Flask
Flask_Migrate
flask_sqlalchemy
mysql_connector_repackaged
pandas
pandas_stubs
Werkzeug
PyJWT
scikit-learn
spacy
gensim
textblob
nltk
Flask-Mail
openai
flask_cors
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.0.0/es_core_news_sm-2.0.0.tar.gz